@import "tailwindcss";
@import "tw-animate-css"; /* Якщо цей плагін підтримує v4 */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer base {
  :root {
    --foreground: hsl(20 14.3% 4.1%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(20 14.3% 4.1%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(20 14.3% 4.1%);
    --primary: hsl(22 100% 50%);
    --primary-foreground: hsl(60 9.1% 97.8%);
    --secondary: hsl(32 100% 98%);
    --secondary-foreground: hsl(24 9.8% 10%);
    --muted: hsl(60 4.8% 95.9%);
    --muted-foreground: hsl(25 5.3% 44.7%);
    --accent: hsl(60 4.8% 95.9%);
    --accent-foreground: hsl(24 9.8% 10%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(60 9.1% 97.8%);
    --border: hsl(20 5.9% 90%);
    --input: hsl(0 0% 90%);
    --ring: hsl(24.6 95% 53.1%);
    --radius: 1rem;
  }
}

* {
  font-family: var(--font-nunito), sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    border: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
